<section *ngIf="store.state().intro" class="home">
  <header>
    <img src="../../../../../assets/threejs.png" alt="logo"
    class="w-8 h-8 object-contain">
  </header>

  <div class="home-content">
    <h1 class="head-text">
      LET'S <br class="xl:block hidden"/> DO IT.
    </h1>
  </div>
  <div class="home-p flex flex-col gap-5">
    <p>
      Create your unique and exclusive shirt with our brand-new 3D customization tool. <strong>Unleash your imagination</strong>{{' '}} and define your own style
    </p>
  </div>
  <custom-button text="Customize It" typeButton="filled" customStyle="w-fit px-4 py-2.5 font-bold text-sm"
  (handleClick)="click()"></custom-button>
</section>
